.main{
    width: 1280px;
    height: 720px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main2{
    width: 1280px;
    height: 720px;
    background-color: white;
    display: flex;
    position: relative;
}

#ClearStorageBtn{
    display: block;
}
body{
    background-color: rgb(37, 72, 37)!important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iniciais{
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: rgb(197, 216, 197);
    font-weight: bold;
    text-align: center;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: rgb(22, 22, 22);
}
.iniciais img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 90px;
}
.iniciais:hover{
    background-color: rgb(145, 162, 145);
    color: rgb(22, 22, 22);
    text-decoration: none;
}
.menu{
    background-color: rgb(214, 214, 214);
    height: 100%;
    width: 200px;
}
.menu .opt{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.menus{
    width: 1080px; 
    padding: 20px;
}
.menus .nav-link{
    color: black;
    transition: 500ms;
}
.menus .nav-link.active{
    font-weight: bold;
    color: green;
}
.menus .nav-link:hover{
    color: green;
}
.menus .nav{
    justify-content: center;
}
.card-img img{
    max-width: 100%;
    max-height: 100%;
}
.card-img{
    height: 110px;
    text-align: center;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.back img{
    margin-bottom:30px;
    height: 40  px;
}
.back{text-align: left; width: 100%;}
.modal-dialog{
    height: 700px;
    max-width: 900px!important;
}
.modal-content{
    height: 100%;
    width: 100%;
}
.titulo{
    font-weight: bold;
    font-size: xx-large;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}
.img-individual{
    max-height: 250px;
    text-align: center;
    max-width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}.col-6.infoNut{
    height: 265px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

.modal .btn.btn-primary{
    background-color: rgb(37, 72, 37)!important;
    border: none
}
.bg1{
    background-color: rgb(37, 72, 37)!important;
}
#user{
    height: 30px;
    margin-right: 10px;
}
.list-group-item label:hover{
    cursor: pointer;
}
.pedidoAtual{
    background-color: rgb(37, 72, 37);
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    transition: 500ms;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pedidoAtual:hover{
    background-color: rgb(29, 46, 29);
}
.pedidoAtual img{
    max-height: 50px;
    filter: invert();
}
#numPedido{
    background-color: rgb(214, 214, 214);
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    line-height: 1;
    width: 20px;
    bottom: 0;
    right: 0;
    font-weight: bold;
    font-size: x-small;
    transition: 500ms;
}
#menusCompletos .card{
    cursor: pointer;
    transition: 500ms;
}
#menusCompletos .card:hover{
    border-color: rgb(29, 46, 29);
}

#pratos .card{
    cursor: pointer;
    transition: 500ms;
}
#pratos .card:hover{
    border-color: rgb(29, 46, 29);
}

#bebidas .card{
    cursor: pointer;
    transition: 500ms;
}
#bebidas .card:hover{
    border-color: rgb(29, 46, 29);
}

#sobremesas .card{
    cursor: pointer;
    transition: 500ms;
}
#sobremesas .card:hover{
    border-color: rgb(29, 46, 29);
}
.modal-dialog2{
    position: absolute!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)!important;
    width: 600px!important;
    height: 600px!important;
}
.modal-dialog{
    
}
input[type=checkbox]{
    cursor: pointer;
}